<div routerLink="../..">TAGASI</div>

<form (ngSubmit)="onSubmit(editItemForm)" [formGroup]="editItemForm">
    <label>NIMETUS</label><br>
    <input type="text" formControlName="name" placeholder="Sisesta toote nimi" required><br>
    <label>HIND</label><br>
    <input type="number" formControlName="price" placeholder="Sisesta toote hind" required><br>
    <label>PILDI URL</label><br>
    <input type="url" formControlName="image" placeholder="Sisesta url" required><br>
    <label>KATEGOORIA</label><br>
    <input type="text" formControlName="category" placeholder="Sisesta kategooria" pattern="^[a-zA-Z]+$" required><br>
    <button type="submit" [disabled]="editItemForm.invalid">SISESTA</button>
</form>
